*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
farmer/src/environments/environment.ts
farmer/src/environments/environment.prod.ts
